.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-smaller td, .table-smaller th {
  padding: 0rem;
  font-size: 0.9rem;
}

/* Prevent background color on markers */
.pointer {
  background-color: rgba(0, 0, 0, 0) !important;
}

:root {
  --danger5: gold;
  --danger0: white;
}

.alive.player {
  background-color: var(--danger5);
}


.pointer.alive.player {
  fill: var(--danger5);
}

.alive.player.my_group {
  background-color: var(--danger0) !important;
  color: black !important;
}

.pointer.alive.player.my_group {
  fill: var(--danger0);
}


.alive.player.other_group {
  font-weight: bold;
}

.alive.player.brawl {
  background-color: crimson;
  color: white;
}
.alive.player.nearby {
  background-color: lightcoral;
  color: white;
}

.alive.scav.nearby {
  background-color: aquamarine;
}

.alive.scav.brawl {
  background-color: aqua;
}

.player_wanted {
  border: 2px solid crimson;
  font-weight: bold;
}

.alive {
  background-color: lightgreen;
}

.dead {
  background-color: lightgrey;
}

.loot.nearby {
  background-color: lightsalmon;
}

.loot.wanted {
  background-color: lightskyblue;
}

.loot.wanted.nearby {
  background-color: crimson;
}

.exits {
  font-size: 14px;
}
.exit_4 {
  background-color: lightgreen;
}
.exit_1 {
  background-color: indianred;
}
.exit_2 {
  background-color: lightgoldenrodyellow;
}

#myMap {
  height: 500px;
  width: 800px;
}
.leaflet-div-icon {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
svg.pointer {
  opacity: 1;
}

/*.iconDead {*/
/*  fill: red;*/
/*}*/

/*.player.dead {*/
/*  fill: grey;*/
/*}*/

/*.player.alive {*/
/*  fill: yellowgreen;*/
/*}*/

